<div class="row animated fadeIn">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil del Usuario</h4>
                <h6 class="card-subtitle">Nombre Usuario</h6>
                <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)"  class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre de Usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control" required placeholder="Nombre de Usuario">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo de Usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="usuario.email" [disabled]="usuario.google" name="email" type="email" class="form-control"  placeholder="Correo del usuario" required>
                        </div>
                    </div>                    
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>                    
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Fotografia del usuario</h4>
                <h6 class="card-subtitle">Nombre de Usuario</h6>

                <img  *ngIf="!imagenTemp" [src]="usuario.img | imagen" alt="" class="w150">
                <img  *ngIf="imagenTemp" [src]="imagenTemp" class="w150">

                <input type="file" name="" (change)="seleccionImagen($event.target.files[0])">
                <br>
                <br>
                <button type="button" (click)="cambiarImagen()" [disabled]="!imagenSubir" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i>
                    Actualizar Foto
                </button>  
            </div>                
        </div>
    </div>        
</div>
