<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarHospital(input.value)" type="text" name="" id="" class="form-control" placeholder="Buscar hospital...">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>  
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">                   
                
                <div class="text-right">
                    <button (click)="agregarHospital()" class="btn btn-primary text-alig"><i class="fa fa-plus"></i>Agregar Hospital</button>
                </div>

                <h3 class="card-title">Hospitales Registrados( <small>{{_hospitalService.totalHospitales}}</small> )</h3>                  
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Hospital</th>                            
                            <th></th>
                        </tr>
                    </thead>      
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td class="w70">
                                <img (click)="mostrarModal(hospital._id)" [src]="hospital.img | imagen:'hospital'" class="img-50 img-circle pointer" alt="">
                            </td>                            
                            <td>
                                <input [(ngModel)]="hospital.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del hospital">                                
                            </td>                                                        
                            <td>
                                <button (click)="actualizarHospital(hospital)" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button (click)="borrarHospital(hospital._id)" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>          
                </table>                                       
            </div>
        </div>
    </div>
</div>





