<div class="fondo-negro" [ngClass]="_modalUploadService.oculto" animated fadeIn>
    <div class="modal" style="display:block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button (click)="cerrarModal()" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
                <img  *ngIf="!imagenTemp" [src]=" 'wwww' | imagen" alt="" class="w150">
                <img  *ngIf="imagenTemp" [src]="imagenTemp" class="w150">
                <input type="file" name="" (change)="seleccionImagen($event.target.files[0])">
            </div>
            <div class="modal-footer">
              <button [disabled]="!imagenTemp" (click)="subirImagen()" type="button" class="btn btn-primary">Subir Imagén</button>
              <button type="button" (click)="cerrarModal()" class="btn btn-secondary" >Close</button>
            </div>
          </div>
        </div>
    </div>
</div>

