  <h3>{{leyenda}}-{{porcentaje}}</h3>
  <div class="input-group">
    <input #txtProgress [(ngModel)]="porcentaje" (ngModelChange)="onChanges($event)"  name="porcentaje" type="number" class="form-control" placeholder="" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4" min="1" max="100">
    <div class="input-group-append" id="button-addon4">
        <button class="btn btn-primary" (click)="cambiarValor(+5)" type="button"><i class="mdi mdi-plus"></i></button>
        <button class="btn btn-primary" (click)="cambiarValor(-5)" type="button"><i class="mdi mdi-minus"></i></button>
    </div>
    </div>
