<div class="card">
    <div class="card-body">                        
              <div style="display: block">
                <canvas baseChart                  
                  [data]="datos"
                  [labels]="etiqueta"
                  [chartType]="tipo"                  
                  >
                </canvas>
                <h5>{{leyenda}}</h5>
              </div>        
    </div>
</div>
