 <div class="row">
  <div class="col-6">
    <app-grafico-dona  [leyenda]="graficos.grafico1.leyenda" [datos]="graficos.grafico1.data"  [etiqueta]="graficos.grafico1.labels" [tipo]="graficos.grafico1.type"  ></app-grafico-dona>
  </div>
    
  <div class="col-6">
    <app-grafico-dona  [leyenda]="graficos.grafico2.leyenda" [datos]="graficos.grafico2.data"  [etiqueta]="graficos.grafico2.labels" [tipo]="graficos.grafico2.type"  ></app-grafico-dona>
  </div>

  <div class="col-6">
    <app-grafico-dona  [leyenda]="graficos.grafico3.leyenda" [datos]="graficos.grafico3.data"  [etiqueta]="graficos.grafico3.labels" [tipo]="graficos.grafico3.type"  ></app-grafico-dona>
  </div>

  <div class="col-6">
    <app-grafico-dona  [leyenda]="graficos.grafico4.leyenda" [datos]="graficos.grafico4.data"  [etiqueta]="graficos.grafico4.labels" [tipo]="graficos.grafico4.type"  ></app-grafico-dona>
  </div>
</div>