/* You can add global styles to this file, and also import other style files */

#themecolors a{
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.w150{
    width: 150px;    
}

.w70{
    width: 70px;    
}

.img-50{
    width: 50px;
}

.fondo-negro{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.oculto{
    display: none;
}
